.loss {
	color: #a20000;
}

.win {
	color: #00a908;
}

.draw {
	color: #b3b500;
}

#playerTabs h1 {
	margin-top: -10px;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: normal;
}

#playerTabs .rightSide {
	float: left;
}

#playerTabs table {
	margin-bottom: 50px;
}

#games td {
	vertical-align: top;
}

#games td:nth-child(1) {
	width: 130px;
	text-align: center;
}

#games td:nth-child(2) {
	width: 50px;
}

#games td:nth-child(3) {
	width: 35px;
	text-align: center;
}

#games td:nth-child(4) {
	width: 450px;
}

#games .fa {
	margin-left: 5px;
}