* {
	font-family: "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

body, div {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #00709f;
}

a:active, :visited {
	color: #03697a;
}

a:hover {
	color: #3390b1;
}

th {
	text-align: left;
	color: #636363;
	background-color: #ededed;
	border: 1px solid #bbbbbb;
	padding: 10px 8px 10px 8px;
}

td {
	border: 1px solid #bbbbbb;
	padding: 10px 8px 10px 8px;
}

table {
	border-collapse: collapse;
}

.firstRow {
	background-color: #000000;
	height: 39px;
}

.firstRow a {
	color: #ffffff;
	font-size: 11px;
}

.firstRow a:hover {
	color: #9c9c9c;
}

.firstRow .textLink {
	margin-right: 25px;
}

.firstRow .fa {
	font-size: 16px;
	margin-left: 10px;
}

.firstRow img {
	float: left;
	margin-left: 1px;
	margin-top: 9px;
	margin-right: 21px;
}

.firstRow span {
	float: left;
	color: #a0a0a0;
	font-size: 16px;
	padding-left: 17px;
	border-left: 1px solid #a0a0a0;
	margin-top: 8px;
}

.firstRow .left {
	float: left;
}

.firstRow .right {
	float: right;
	margin-top: 11px;
	padding-right: 14px;
}

.secondRow {
	background-color: #232323;
	height: 45px;
	margin-bottom: 25px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.numeric td:nth-child(n + 2) {
	text-align: right;
}