* {
	font-family: "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

body, div {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #00709f;
}

a:active, :visited {
	color: #03697a;
}

a:hover {
	color: #3390b1;
}

th {
	text-align: left;
	color: #636363;
	background-color: #ededed;
	border: 1px solid #bbbbbb;
	padding: 10px 8px 10px 8px;
}

td {
	border: 1px solid #bbbbbb;
	padding: 10px 8px 10px 8px;
}

table {
	border-collapse: collapse;
}

.firstRow {
	background-color: #000000;
	height: 39px;
}

.firstRow a {
	color: #ffffff;
	font-size: 11px;
}

.firstRow a:hover {
	color: #9c9c9c;
}

.firstRow .textLink {
	margin-right: 25px;
}

.firstRow .fa {
	font-size: 16px;
	margin-left: 10px;
}

.firstRow img {
	float: left;
	margin-left: 1px;
	margin-top: 9px;
	margin-right: 21px;
}

.firstRow span {
	float: left;
	color: #a0a0a0;
	font-size: 16px;
	padding-left: 17px;
	border-left: 1px solid #a0a0a0;
	margin-top: 8px;
}

.firstRow .left {
	float: left;
}

.firstRow .right {
	float: right;
	margin-top: 11px;
	padding-right: 14px;
}

.secondRow {
	background-color: #232323;
	height: 45px;
	margin-bottom: 20px;
}

.categoryLinks {
	display: inline;
}

.categoryLinks a {
	color: #ffffff;
	font-size: 20px;
	font-family: wf_segoe-ui_light, "Segoe UI Light", "Segoe WP Light", wf_segoe-ui_normal, "Segoe UI", Segoe, "Segoe WP", Tahoma, Verdana, Arial, sans-serif;
	display: inline-block;
	margin-top: 6px;
	padding-left: 16px;
	padding-right: 15px;
	margin-left: 0;
	margin-right: 0;
	height: 34px;
}

.categoryLinks a:hover {
	border-bottom: solid 5px #ffffff;
}

.categoryLinks i {
	margin-left: 4px;
	vertical-align: text-bottom;
	font-size: 16px;
}

.categoryLinks .selected {
	border-bottom: solid 5px #bdbdbd;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.numericTable td:nth-child(n + 2) {
	text-align: right;
}

.sortable th {
	cursor: pointer;
}

.searchButton {
	margin: 0;
	float: right;
	height: 45px;
	width: 45px;
	background-color: #444444;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
}

.searchButton i {
	font-size: 16px;
	color: #ffffff;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.libraryLinks {
	margin-left: 26px;
	margin-bottom: 40px;
}

.libraryLinks a {
	color: #000000;
	margin-right: 8px;
}

.libraryLinks a:hover {
	color: #8c8c8c;
}

.libraryLinks i {
	margin-right: 8px;
}