@import "Common.less";

* {
	font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    color: @textColour;
    margin-bottom: 2em;
}

a {
    color: @linkColour;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

li {
    list-style-type: none;
}

p {
    margin-left: @textMargin;
    margin-right: @textMargin;
    margin-bottom: 2em;
    line-height: 1.4em;
}

h1 {
    font-size: 1.4em;
    margin-right: @textMargin;
    margin-bottom: 0.5em;
}

.grid {
    border: @border;
    border-radius: @borderRadius;
    border-spacing: 0;

    tr:hover {
        background-color: #fcfcfc;
    }

    th {
        background-color: @headerBackgroundColour;
        font-weight: bold;
        -moz-background-clip: padding; 
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        text-align: left;
    }

    th, td {
        padding: 0.6em 1em;
    }

    td {
        vertical-align: top;
        border-top: @border;
    }
}

.sortable th {
    cursor: pointer;
}

.dateGrid {
    td:nth-child(1) {
        white-space: nowrap;
    }
}

.menu {
    background-color: @headerBackgroundColour;
    width: 100%;
    border-bottom: @border;
    margin-bottom: 2em;

    .menuLink();

    ul {
        width: @contentWidth;
        margin: 0 auto;
    }

    li {
        display: inline;
        vertical-align: middle;

        &:nth-child(n + 2) {
            padding-left: 2em;
        }
    }

    li:nth-child(1) {
        padding-left: 1.3em;
    }

    a {
        &:hover {
            color: @linkColour;
            text-decoration: none;
        }
    }

    select {
        height: 1.9em;
        padding-left: 0.4em;
        border-radius: @borderRadius;
        -moz-appearance: none;
    }

    select::-ms-expand {
        width: 0.9em;
        border: none;
        background: #fff;
        padding-right: 0.5em;
    }

    @supports (-moz-appearance:meterbar) {
        select {
            padding-right: 0.6em;
        }
    }
}

.content {
    width: @contentWidth;
    margin: 0 auto;
}

.numericTable td:nth-child(n + 2) {
    text-align: right;
}

.playerList {
    ul.counterTerrorists {
        a {
            color: @counterTerroristColour;
        }
    }

    ul.terrorists {
        a {
            color: @terroristColour;
        }
    }
}

.description {
    margin-left: @textMargin;
    margin-bottom: 1em;

    td {
        line-height: 1.8em;
    }

    td:first-child {
        font-weight: bold;
        padding-right: 2em;

        &:after {
            content: ":";
        }
    }
}

.teamPlayers {
    margin-bottom: 1em;

    th:nth-child(1) {
        width: 15em;
    }

    th:nth-child(2) {
        width: 3em;
    }

    th:nth-child(3) {
        width: 3em;
    }
}

table.terrorists {
    margin-bottom: 2em;
}

.matchup {
    margin-bottom: 1em;
    margin-left: 8em;
}

.win, .positive {
    color: @positiveColour;
}

.loss, .negative {
    color: @negativeColour;
}

.draw {
    color: #c7a019;
}

.counterTerrorists {
    color: @counterTerroristColour;

    th, td {
        color: @textColour;
    }

    a {
        color: @counterTerroristColour;
    }
}

.terrorists {
    color: @terroristColour;

    th, td {
        color: @textColour;
    }

    a {
        color: @terroristColour;
    }
}

.victory {
    font-weight: bold;
}

.noData {
    font-style: italic;
    text-align: center;
    line-height: 2em;
}

.gameKills {
    li {
        line-height: 1.6em;
    }
}

.ratingChart {
    width: 100%;
    height: 400px;
}