* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333;
  margin: 0;
  padding: 0;
}
body {
  margin-bottom: 2em;
}
a {
  color: #4078c0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li {
  display: inline;
  list-style-type: none;
}
.grid {
  border: 1px solid #ddd;
  border-radius: 3px;
  border-spacing: 0;
}
.grid tr:hover {
  background-color: #fcfcfc;
}
.grid th {
  background-color: #f8f8f8;
  font-weight: bold;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
}
.grid th,
.grid td {
  padding: 0.6em 1em;
}
.grid td {
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.grid td:nth-child(1) {
  white-space: nowrap;
}
.menu {
  background-color: #f8f8f8;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3em;
}
.menu ul {
  width: 1000px;
  margin: 0 auto;
}
.menu li {
  vertical-align: middle;
}
.menu li:nth-child(n + 2) {
  padding-left: 2em;
}
.menu a {
  font-weight: bold;
  line-height: 3em;
  color: #000;
}
.menu a:hover {
  color: #4078c0;
  text-decoration: none;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.numericTable td:nth-child(n + 2) {
  text-align: right;
}
.playerList li {
  display: block;
}
.win {
  color: #00c325;
}
.loss {
  color: #bd0000;
}
.draw {
  color: #c7a019;
}
.counterTerrorists {
  color: #5783c0;
}
.terrorists {
  color: #a68947;
}
.victory {
  font-weight: bold;
}