@using BeRated.App
@using BeRated.Model

@model PlayerItems

@{
    Layout = "/Layout";
    ViewBag.Title = Model.Name;
    ViewBag.SteamId = Model.SteamId;
}

<table class="sortable numericTable grid">
    <tr>
        <th data-column-type="string">Item</th>
        <th>Times purchased</th>
        <th>Purchases per round</th>
        <th>Kills per purchase</th>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Item</td>
            <td>@item.TimesPurchased</td>
            <td>@Helper.Round(item.PurchasesPerRound)</td>
            <td>@Helper.Round(item.KillsPerPurchase)</td>
        </tr>
    }
</table>