@using BeRated.App
@using BeRated.Model
@using System.Collections.Generic

@model List<MatchmakingResult>

@{
    Layout = "/Layout";
    ViewBag.Title = "Matchmaking results";
}

<table class="grid">
    <tr>
        <th>Counter-Terrorists</th>
        <th>Terrorists</th>
        <th>Quality</th>
    </tr>
    @foreach (var result in Model) {
        <tr>
            <td>@Helper.GetPlayerList(result.Team1)</td>
            <td>@Helper.GetPlayerList(result.Team2)</td>
            <td>@Helper.Percentage((decimal)result.Quality)</td>
        </tr>
    }
</table>