@using BeRated.App
@using BeRated.Model

@model GeneralPlayerStats

@{
    Layout = "/Layout";
    ViewBag.Title = Model.Name;
    ViewBag.SteamId = Model.SteamId;
}

<div id="ratingChart"></div>